.seccion-productos {
  position: relative;
  padding: 10rem 0;
  background-color: $color-section--light;
}

.seccion-categorias {
  position: relative;
  padding: 0 0 10rem 0;
  background-color: $color-primary;
}
